//Component
.nav-h {
  float: right;
  &-wrap {
    overflow: hidden;
  }

  &-item {
    float:left;
    line-height: 60px;
    margin: 0 0.5em;
  }
  &-item-link {
    display: inline-block;
  }
}

@include respond-to(small) {
  .nav-h {
    height: 60px;
    float: none;
    text-align: center;
    &-wrap {
      display:inline-block;
    }
  }
}
