//Component
.nav {
  margin: 15px auto;
  display: inline-block;
  a{
    color: $c-nav;
    &:hover{
      color: $c-base-text;
    }
    &.active{
      color: $c-base-text;
    }
  }
  &-item {
    float: left;
    padding: 0 20px;
    border: 0;
  }
}
